/* Текст справа */
#profiles_show .b-catalog_entry-tooltip .entry-tooltip_container, #profiles_favorites .b-catalog_entry-tooltip .entry-tooltip_container {
  justify-content: right;
}
/* Текст не растягивается */
#profiles_show .b-catalog_entry-tooltip .inner, #profiles_favorites .b-catalog_entry-tooltip .inner {
  flex-grow: 0;
}
/* Размер текста */
#profiles_show .b-catalog_entry-tooltip .entry-tooltip_container .inner, #profiles_favorites .b-catalog_entry-tooltip .entry-tooltip_container .inner {
  width: 278px;
  min-height: 249px; /* Фикс чтобы trigger не налезал на постер */
}
/* Размер подсказки */
#profiles_show .tooltip .tooltip-inner, #profiles_favorites .tooltip .tooltip-inner {
  width: 480px;
}
/*Постер*/
#profiles_show .b-catalog_entry-tooltip .inner a.name:before, #profiles_favorites .b-catalog_entry-tooltip .inner a.name:before {
  content: '';
  position: absolute;
  width: 160px;
  height: 249px;
  top: 0;
  left: 0;
  background: var(--custom-image,none) var(--custom-settings,center top/cover);
}
/* Убираю паддинг в открывающейся менюшке (trigger) */
#profiles_show .b-catalog_entry-tooltip .flexible-button .b-add_to_list, #profiles_favorites .b-catalog_entry-tooltip .flexible-button .b-add_to_list {
  padding-bottom: 0;
}
