/*Устанавливаем размер мелкого постера*/
.image.bubbled-processed {
    width: 48px;
  height: 75px;
  border-radius: 4px;
}
/*Замена постеров content'ом в истории, на главной странице и при открытии изображения на странице тайтла*/
.p-profiles .profile-head .c-history .entry img, .b-user_rate-history img, img.mfp-img, .b-topic > .inner header img {
    content: var(--custom-image, "");
}
/*Скрываем стандартный постер на странице аниме или манги + на странице редактирования + мелкие постеры*/
.block meta ~ .b-db_entry .c-image .cc .c-poster .b-image img, .b-menu_logo a picture img, .image.bubbled-processed img {
    opacity: var(--show-default,1);
}
/*На странице тайтла + на странице редактирования + мелкие постеры*/
.block meta ~ .b-db_entry .c-image .cc .c-poster .b-image, .b-menu_logo a, .image.bubbled-processed {
  background: var(--custom-image,none) var(--custom-settings,center top/cover);
}
/*Скрываем постер на странице персонажа и человека */
.menu-slide-outer .menu-slide-inner .l-content .b-db_entry > .c-image .cc .c-poster picture img[src*="characters/"], .menu-slide-outer .menu-slide-inner .l-content .b-db_entry > .c-image .cc .c-poster picture img[src*="people/"] {
    display: var(--display-default-character, initial);
}
/*Изменить постер персонажа */
.menu-slide-outer .menu-slide-inner .l-content .b-db_entry > .c-image .cc .c-poster picture source {
  display: var(--display-character-image, initial);
  width: 225px;
  height: 350px;
  background: var(--custom-image,none) var(--custom-settings,center top/cover);
}
/*Уменьшение размера постера на странице персонажа для маленьких экранов*/
@media screen and (max-width: 400px) {
  .menu-slide-outer .menu-slide-inner .l-content .b-db_entry > .c-image .cc .c-poster picture source {
    width: 160px;
    height: 249px;
  }
}
/*Убираем custom-image в спойлерных коллекциях как это сделано у грина*/
.is-spoilers .b-catalog_entry>.cover .image-cutter, .b-catalog_entry .cover .image-cutter img {
  --show-default:1;
  --custom-image:none;
}


