/*Устанавливаем размер мелкого постера*/
.image.bubbled-processed {
    width: 48px;
  height: 75px;
  border-radius: 4px;
}
img {
    opacity: 1;
    content: var(--custom-image, "");
}
/*Скрываем стандартный постер на странице аниме или манги + на странице редактирования + мелкие постеры*/
.block meta ~ .b-db_entry .c-image .cc .c-poster .b-image img, .b-menu_logo a picture img, .image.bubbled-processed img {
    opacity: var(--show-default,1) !important;
}
/*На странице тайтла + на странице редактирования + мелкие постеры*/
.block meta ~ .b-db_entry .c-image .cc .c-poster .b-image, .b-menu_logo a, .image.bubbled-processed {
  background: var(--custom-image,none) var(--custom-settings,center top/cover);
}
/*Скрываем постер на странице персонажа */
.menu-slide-outer .menu-slide-inner .l-content .b-db_entry > .c-image .cc .c-poster picture img {
    display: var(--display-default-character, initial);
}
/*Изменить постер персонажа */
.menu-slide-outer .menu-slide-inner .l-content .b-db_entry > .c-image .cc .c-poster picture source {
  display: var(--display-character-image, initial);
  width: 225px;
  height: 350px;
  background: var(--custom-image,none) var(--custom-settings,center top/cover);
}
/*Уменьшение размера постера на странице персонажа для маленьких экранов*/
@media screen and (max-width: 400px) {
  .menu-slide-outer .menu-slide-inner .l-content .b-db_entry > .c-image .cc .c-poster picture source {
    width: 160px;
    height: 249px;
  }
}


