/* 14.04.25 Для всех кастомных постеров grin'а добавляем border-radius */
/* Выше всех чтобы не переназначить другие border-radius */
.b-catalog_entry>.cover .image-cutter,
.b-catalog_entry-tooltip>.entry-tooltip_container>a::before,
.b-collection-topic>.inner .collection-row .cover .image-cutter::before {
     border-radius: var(--custom-image-border, 4px);
}

/* Мелкие постеры */
.b-db_entry-variant-list_item .image {
    background: var(--custom-image,none) var(--custom-settings,center top/cover);
    height: 75px;
    border-radius: var(--small-custom-image-border, 4px); /*Для того, чтобы постер, где много деталей выглядел четче*/
}

/*Замена постеров content'ом в истории, на главной странице и при открытии изображения на странице тайтла*/
.p-profiles .profile-head .c-history .entry img,
.b-user_rate-history img,
img.mfp-img, .b-topic > .inner header img {
    content: var(--custom-image, "");
}

/* Главная страница + на странице редактирования + мелкие постеры*/
.b-db_entry .c-image .cc .c-poster img,
.b-menu_logo a picture img,
.b-db_entry-variant-list_item .image img {
    opacity: var(--show-default,1);
}

/*На главной странице постера с большим кол-вом пикселей + на странице редактирования */
.b-db_entry .c-image .cc .c-poster > .b-image,
.b-menu_logo a {
    background: var(--custom-image,none) var(--custom-settings,center top/cover);
    border-radius: var(--custom-image-border, 4px);
}

/* Постер 225x350px Главная страница */
.b-db_entry .c-image .cc .c-poster > picture {
    position: relative;
}

.b-db_entry .c-image .cc .c-poster > picture source {
    width: 100%;
    height: 97.92%;
    background: var(--custom-image,none) var(--custom-settings,center top/cover);
    position: absolute;
    border-radius: var(--custom-image-border, 4px);
}

/* Кастомный постер грина (с 14.04.25 работает только для моего дополнения в подсказках, оставил просто так, пусть будет) */
.b-catalog_entry-tooltip>.entry-tooltip_container>a::before,
.b-catalog_entry>.cover .image-cutter{
  border-radius: var(--custom-image-border, 4px);
}

.b-catalog_entry-tooltip .inner .additional-images .link .image-cutter{
  border-radius: var(--small-custom-image-border, 4px);
}
